/****************************************
* Site wide
****************************************/

/* Box Model*/
* {
  box-sizing: border-box;
}

:root {
  --primary: rgb(22, 99, 44);
  --secondary: rgb(0, 0, 0);
  --background:rgb(238, 215, 204);
  --secondary-background: rgb(249, 235, 229);
  --dark-background: rgb(0, 0, 0);
  --font: rgb(0, 0, 0);
  --light-font: rgb(255, 255, 255);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Work Sans", Helvetica, Arial, sans-serif;
  min-width: 300px;
}

html{
  font-size: 16px;
}

body > header {
  margin: 0;
  padding: 0;
}

article h2 a{
  color: var(--font);
}

.logo {
  background-image: url("/static/img/logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: rgb(0, 0, 0);
  display:flex;
  justify-content: center;
  align-items: center;
}

/*main navbar - based on https://alvarotrigo.com/blog/hamburger-menu-css/ */
.mainNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--light-font);
  padding-right: 1rem;
  background-color: transparent;
  position: relative;
}

.mainNav .logo{
  height: 38px;
  width: 38px;
}

.navItems {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItems>li {
  margin-right: 3rem;
  white-space: nowrap;
}

.navItems > li a,
.navItems > li a:visited {
  color: var(--light-font);
  text-decoration: none;
}

.navItems > li a:hover {
  text-decoration: underline;
}

.menuButtonContainer {
  display: none;
}

#menuToggle {
  display: none;
}

/* Button */
.button {
  display: block;
  line-height: 3rem;
  background-color: var(--secondary);
  color: var(--light-font);
  text-align: center;
}

/* Social Links */
.socialLinks li a{
  color: var(--font);
  text-decoration: none;
}

@media screen and (max-width: 850px){

  /*main navbar - based on https://alvarotrigo.com/blog/hamburger-menu-css/ */
  .menuButtonContainer {
    display: flex;
    height: 30px;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navItems {
    position: absolute;
    top: 0;
    margin-top: 40px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .menuButton,
  .menuButton::before,
  .menuButton::after {
    display: block;
    background-color: var(--light-font);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menuButton::before {
    content: '';
    margin-top: -8px;
  }

  .menuButton::after {
    content: '';
    margin-top: 8px;
  }

  #menuToggle:checked+.menuButtonContainer .menuButton::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menuToggle:checked+.menuButtonContainer .menuButton::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  #menuToggle~.navItems li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
  }
  
  #menuToggle:checked~.navItems li {
    height: 2rem;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .navItems>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5rem 0;
    width: 100%;
    color: var(--font);
  }
}