/****************************************
* Site wide
****************************************/

/* Box Model*/
* {
  box-sizing: border-box;
}

:root {
  --primary: rgb(1, 22, 39);
  --secondary: rgb(39, 22, 1);
  --background:rgb(249, 236, 229);
  --secondary-background: rgb(249, 235, 229);
  --dark-background: rgb(0, 0, 0);
  --font: rgb(0, 0, 0);
  --light-font: rgb(255, 255, 255);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Work Sans", Helvetica, Arial, sans-serif;
  min-width: 300px;
  background-color: var(--background);
}

html{
  font-size: 16px;
}

body > header {
  margin: 0;
  padding: 0;
}

article h2 a{
  color: var(--font);
}

main{
  max-width: 1098px;
  margin: auto;
}

.logo {
  background-image: url("/static/img/logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 65%;
  background-color: var(--primary);
}

.hero{
  height: 500px;
  background-color: var(--primary);
  background-image: url("/static/img/home-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 110px;
}

.home header, 
.home article{
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0px 149px 60px rgba(0, 0, 0, 0.01), 0px 84px 50px rgba(0, 0, 0, 0.03), 0px 37px 37px rgba(0, 0, 0, 0.04), 0px 9px 21px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
}

.home header, 
.home section {
  width: 95%;
  max-width: 900px;
  margin: auto;
}

.home header {
  position: absolute;
  bottom: -120px;
  left: 0;
  right: 0;
  padding: 30px;
}

.home header h1{
  margin: 0;
}

.home section{
  padding-top: 110px;
  display:flex;
  justify-content: space-between;
  gap: 5%;
  align-items: stretch;
}

.home article{
  padding: 38px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.75rem;
}

.home article *{
  margin: 0;
}

.home article .button{
  width: 222px;
}

/*main navbar - based on https://alvarotrigo.com/blog/hamburger-menu-css/ */
.mainNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: var(--light-font);
  padding: .7rem;
  background-color: var(--primary);
  position: relative;
  font-size: 110%;
}

.mainNav .logo{
  height: 38px;
  width: 38px;
}

.mainNav .navTitle {
  display: flex;
  align-items: center;
  font-size: 125%;
  font-weight: 700;
}

.mainNav .navTitle a{
  color: var(--light-font);
  text-decoration: none;
}

.navItems {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItems>li {
  margin-right: 3rem;
  white-space: nowrap;
}

.navItems > li a,
.navItems > li a:visited {
  color: var(--light-font);
  text-decoration: none;
}

.navItems > li a:hover {
  text-decoration: underline;
}

.menuButtonContainer {
  display: none;
}

#menuToggle {
  display: none;
}

/* Button */
.button {
  display: block;
  text-decoration: none;
  line-height: 3rem;
  background-color: var(--primary);
  color: var(--light-font);
  text-align: center;
  border-radius: 8px;
  font-size: 125%;
  font-weight: 600;
}

/* Social Links */
.socialLinks {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: .5rem;
  margin: 3rem auto;
  padding: 0;
}

.socialLinks li {
  display: flex;
  justify-content: space-around;
  gap: .4rem;
  align-items: center;
  border: solid 1px var(--font);
  border-radius: 5px;
  height: 30px;
  padding: 0 .5rem;
}

.socialLinks a{
  color: var(--font);
  text-decoration: none;
}

.pageFooter {
  margin-top: 100px;
  text-align: center;
}

@media screen and (max-width: 850px){

  /*main navbar - based on https://alvarotrigo.com/blog/hamburger-menu-css/ */
  .mainNav{
    justify-content: space-between;
  }
  .menuButtonContainer {
    display: flex;
    height: 30px;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navItems {
    position: absolute;
    top: 0;
    margin-top: 61px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .menuButton,
  .menuButton::before,
  .menuButton::after {
    display: block;
    background-color: var(--light-font);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menuButton::before {
    content: '';
    margin-top: -8px;
  }

  .menuButton::after {
    content: '';
    margin-top: 8px;
  }

  #menuToggle:checked+.menuButtonContainer .menuButton::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menuToggle:checked+.menuButtonContainer .menuButton::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  #menuToggle~.navItems li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
  }
  
  #menuToggle:checked~.navItems li {
    height: 2rem;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    padding: 0.5rem 0;
  }
  
  .navItems>li {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    color: var(--font);
  }
}

@media screen and (max-width: 680px){
  .home section{
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
  }

  .home header{
    bottom: -200px;
  }

  .home section{
    padding-top: 150px;
  }
}

@media screen and (max-width: 420px){
  .home header {
    max-height: 420px;
  }

  .home header h1{
    font-size: 1.3rem;
  }
}